<h1 style="text-align: center;" >My Pairs</h1>
  <ul>
    <% @chats.each do |chat| %>
      <a href="<%= chat_path(chat) %>">
      <li>
        <div class="chat-card">
          <h5><%=chat.partner.first_name %></h5>
            <% if chat.partner.photo.attached? %>
              <div><%= cl_image_tag chat.partner.photo.key, height: 50, width: 50, crop: :fill,  class: "chat-picture" %></div>
            <% end %>
          </div>
        </li>
      </a>
    <% end %>
  </ul>
