<div class="container p-4">
  <h1 class="page-header">My Chats</h1>

  <% if @chats.count > 0 %>
    <h1 style="text-align: center;">My Pairs</h1>
      <ul>
        <% @chats.each do |chat| %>
          <a class="chats-list" href="<%= chat_path(chat)%>">
          <li>
            <div class="chat-card">
              <h5><%=chat.partner.first_name %></h5>
                <% if chat.partner.photo.attached? %>
                  <div><%= cl_image_tag chat.partner.photo.key, height: 50, width: 50, crop: :fill,  class: "chat-picture" %></div>
                <% end %>
            </div>
            </li>
          </a>
        <% end %>
      </ul>
  <% else %>
    <div class="empty-chat">
      <h2>It looks like you don't have any chats yet...but fear not! Click here to find a partner!</h2>
      <%= link_to "Find a partner!", pairing_sessions_path, class: 'profile-btn'%>
    </div>
  <% end %>
</div>
