<div class="container">
  <h1 style="text-align: center;" >My Pairs</h1>
  <ul>
    <% @chats.each do |chat| %>
      <a href="<%= chat_path(chat) %>">
      <div class="chat-card"><li><%=chat.partner.first_name %></li></div>
      </a>
    <% end %>
  </ul>
</div>
