<div class="container">
  <h1>My Pairs</h1>
  <ul>
    <% @chats.each do |chat| %>
      <div class="chat-card"><li><%=link_to chat.partner.first_name, chat_path(chat) %></li></div>
    <% end %>
  </ul>
</div>
