<h1>My Pairing Requests</h1>
  <% @pairing_sessions.each do |pairing_session| %>
<ul><%= pairing_session.activity.upcase%>
    <% pairing_session.pairing_requests.each do |pairing_request| %>
    <li><%= pairing_request.user.first_name %></li>
    <% end %>
</ul>
  <% end %>
