

<h4>You have a <%= @pairing_request.pairing_session.activity %> request</h4>
<h4><%= @pairing_request.user.first_name.capitalize %> wants to join up with you!</h4>
<p><%= @pairing_request.introduction %></p>
