<% PairingSession::ACTIVITIES.each do |activity| %>
  <div data-controller="activities">
      <div class="selector-card" data-action="click->activities#selectActivity" data-activities-target="name">
        <h3><%= activity.capitalize %></h3>
      </div>
    </a>
  </div>
<% end %>
