<div class = "container">
  <div data-controller="new-session"> <!-- This is the new_session controller start -->
    <%= render 'pairing_request_modal' %> <!-- This renders the pairing request modal -->
    <div>
      <div data-new-session-target="activity" data-action="activityEvent->new-session#handleEvent">
        <div class="d-none"><input type="text"></div>
        <%= render 'activities' %> <!-- This renders the activities buttons -->
      </div>
    </div>
    <div style="justify-content: center;">
      <div class="d-none" data-new-session-target="address">
    <h4 mb-5>Where?</h4>
        <div class="map-style" data-new-session-target="mapContainer"></div>
        <input data-new-session-target="addressInput" type="text">
        <button data-action="click->new-session#displayTime" class="profile-btn">Choose</button>
      </div>
    </div>
    <div>
      <div class="d-none" data-new-session-target="time">
      <h4 mb-5>When?</h4>
        <input type="datetime-local">
        <button data-action="click->new-session#displayPairingSessions" class="btn profile-btn mb-3">Choose</button>
      </div>
    </div>
  </div> <!-- This is the new_session controller end -->
</div>
