
a.home-btn2{
  background-color: $tiber;
  color: $tiber;
  border: 2px solid $emerald;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  transition: transform .2s;
}

a.home-btn2:hover{
  background-color: $emerald;
}

a.home-btn{

  background-color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bolder;
  transition: transform .2s;
}

a.home-btn:hover{
  background-color: $emerald;
  color: white;
}
