
a.home-btn2{
  background-color: $emerald;
  color: white;
  border: 2px solid $emerald;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  transition: transform .2s;
  text-decoration: none;
}

a.home-btn3{
  background-color: $emerald;
  color: white;
  border: 2px solid $emerald;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  transition: transform .2s;
  text-decoration: none;
  position: absolute;
  left: 25%;
  top: 13%;
}

a.home-btn2:hover{
  background-color: $emerald;
}

a.home-btn{
  background-color: white;
  color: $tiber;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bolder;
  transition: transform .2s;
  text-decoration: none;
}

a.home-btn:hover{
  background-color: $emerald;
  color: white;
}

.profile-btn {
  background-color: $emerald;
  color: $tiber;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  transition: transform .2s;
}

.profile-btn:hover {
  color: white;
}

.choose-btn {
  background-color: $emerald;
  color: $tiber;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  transition: transform .2s;
}

.choose-btn:hover {
  color: white;
}

.logout-btn {
  background-color: #63E1B4;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: right;
  margin-left: 128 px;
}

.form-submit-button {
  background-color: $tiber;
  text-decoration: none;
  color: $emerald;
  padding: 8px 8px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
