body {
  margin-bottom: 100px;
}
.chat-card {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: 48px;
  border: 1px solid white;
  padding: 24px;

}

.chat-form {
  margin-bottom: 5px;
  text-align: right;
  align-items: center;
}
