body {
  margin-bottom: 100px;
}
.chat-card {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5{
    padding-top: 0.5rem;
  }
}

.chat-picture {
  border-radius: 50%;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-body {
  position: relative;
}

.chat-form {
  text-align: right;
  align-items: center;
  position: fixed;
  width: 80%;
  top: 72%;
  padding-bottom: 20px;
  background-color: $mint;
}

.chat-button {
  background-color: rgb(0, 210, 132);
  color: rgb(5, 56, 66);
  border-radius: 50px;
}

.mb-3.text.optional.message_content {
  border: 1px solid rgb(0, 210, 132);
}

.form-control.text.optional {
  border: 1px solid rgb(0, 210, 132);
}
