.navbar {
  position: fixed;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: $tiber;
  color: $emerald;
  display: flex;
  height: 100px;
  border-top-width: 3px;
  border-top-style: hidden;
  font-size: 1.4rem;
  padding-top: 0;

  li {
    display: inline;
    justify-content: space-evenly;
  }

  #navbar-chat-icon {
    position: relative;
  }

  .chat-notifications {
    position: absolute;
    top: 8px;
    left: 55px;
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}

.fas-items {
  color : $emerald;
  list-style-type: none;
  align-content: center;
  padding: 24px;
}
