.pairing-session-header {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.empty-sessions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 70%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

.mb-3.text.required.pairing_session_description {
  border: solid 1px $tiber;
  background-color: white;
}

.btn-wide {
  margin: 1.5rem 1rem 0 1rem;
  width: fill;
  font-family: $headers-font;
  font-size: 1.5rem;
  height: 4rem;
}

.pairing-session-time-container {
  margin-top: 25vh;
  margin-right: 1rem;
  .profile-btn {
    width: 25%;
    margin-left: 5%;
    margin-top: .5rem;
    font-family: $headers-font;
    font-size: 1.5rem;
    height: 4rem;
  }
  input {
    margin-left: 1rem;
    width: 60%;
    height: 4rem;
    font-size: larger;
    padding-left: .5rem;
  }
}

.pairing-session-time-container {

}
