.pairing-request-card {
  height: 600px;
  margin: 2rem 0rem 2rem 0rem;
  padding: 2rem;
  background: linear-gradient(rgb(42, 231, 164), rgb(0, 210, 132));
  color: #012E38;
  border-radius: 0.5rem;
}

.pairing-request-button-container {
  display: flex;
  justify-content: space-between;
}
