.pairing-session-card {
  height: 650px;
  margin: 2rem 1.5rem 2rem 1.5rem;
  padding: 2rem;
  background: linear-gradient(rgb(42, 231, 164), rgb(0, 210, 132));
  color: #012E38;
  border-radius: 0.5rem;
  position: relative;
  p {
    font-family: $body-font;
    font-size: 16px;
    margin-top: 12px;
  }
  h4 {
    margin-top: 8px;
  }

  .select-btn-pair {
    width: 100%;
    letter-spacing: 0.06rem;
    background-color: $tiber;
    height: 50px;
    border-radius: 6px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: transform .2s;
    color: #FFFFFF;
    &:hover{
      transform: scale(1.01);
    }
  }
}

.pairing-session-button-container {
  margin-top: 36px;
  bottom: 10%;
}

.pairing-session-card-image  {
  width: 100%;
  height: auto;
  margin-bottom: .5rem;
}

.center{
  img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
}

.edit{
    img{
      border-radius: 8px;
      width: 100%;
      box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
      object-fit: cover;
    }
}
