.pairing-session-card {
  height: 600px;
  margin: 1rem;
  padding: 2rem;
  background: linear-gradient(rgb(42, 231, 164), rgb(0, 210, 132));
  color: #012E38;
  border-radius: 0.5rem;
}

.pairing-session-button-container {
  display: flex;
  justify-content: space-between;
}

.pairing-session-card-reject-button {

}


.pairing-session-card-accept-button {

}
