.profile-list {
  color: $tiber;
  list-style-type: none;
  text-align: justify;
  display: inline-block;
}

.bio-div {
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: left;
}

.profile-container {
  position: relative;
  align-content: center;
}

.edit-button {
  top: 80%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;

}

#gender {
  margin-top: 16px;
}

#age {
  margin-top: 16px;
}

#competitiveness {
  margin-top: 16px;
}

.bio-div {
  word-wrap: break-word;
}

mark {
  background-color:#A6F1C4;
  padding: 8px;
  border-radius: 8px 8px 8px 8px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-info {

  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

#gender, #competitiveness, #age {
  padding-bottom: 10px;
  padding-left: 15px;
}

.fa-dumbbell, .fa-birthday-cake, .fa-venus-mars {
  width: 20px;
}

// padding-bottom: 10px
