.selector-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 4rem;
  background-color: #AEEDD8;
  border-radius: 1rem;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: #92d4be;
    color: black;
  }
}

.activity-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activity-item {
  flex: 0 0 30%;
}

.activity-selector {
  position: absolute;
  transform: scale(0);
}

.activity-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.activity-selector:checked + label {
  color: white !important;
}


#snippet_activity_ruby {
  color: #FD1015;
}

#snippet_activity_ruby:checked {
  background-color: #FD1015;
  border-color: #FD1015;
}
