.total-container {
  // position: absolute;
  // left: 23%;
  text-align: center;
  color: white;
  background-color: $mint;
}

.sign-in {
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
    ul {
      padding: 0;
      list-style-type: none;
      }
    li {
      margin-top: 16px;
    }
}
